{
	"credentials": {"email":"update@infomat.moscow","password":"infomat","remember_me":false},
	"storage_base_path": "/var/www/terminal/updater/file_cache",
	"updater_sql_path": "/var/www/terminal/updater/sql/updater.sql",
	"file_root_path": "/var/www/terminal/webroot",
	"file_url": "http://infomat.moscow",
	"user_agent": "infomat-updater",
	"base_url": "http://dreamfactory.infomat.moscow",
	"api_url": "api/v2",
	"auth_service": "user/session",
	"api_key": "61ce890636c64edbe17ae38e##########bb1c9c17a961aac75d63e6108f6616",
	"slack_webhook_url": "https://hooks.slack.com/services/TBNL6JWP4/BDXRDEBNZ/QLhh1EXGwdCUBJde3HXVPWU",
	"infomat_id": "1",
	"infomat_db": {
		"host": "localhost",
		"database": "infomat_qt_sync",
		"user": "postgres",
		"password": "infomat"
	},
	"sh_query_params": {
    	"fields": "*", 
    	"filter": "(infomat_id=#infomat_id#)and(state=0)and(executed=0)"
	},
	"sh_service": "infomat_qt",
	"sh_table": "sh_list",
	"sh_folder": "shell_script",
	"tables": {
	    "weather": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "activity": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "activity_category": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt",
	        "files": ["icon_path","image_path"]
	    },
	    "activity_event": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "activity_periodicity": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "activity_photo": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt",
	        "files": ["path"]
	    },
	    "activity_type": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "activity_visitor_register": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "agency": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "agency_management": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "agency_photo": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt",
	        "files": ["path"]
	    },
	    "agency_photo_album": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "city_activity": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "city_activity_category": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt",
	        "files": ["icon_path","image_path"]
	    },
	    "city_activity_photo": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt",
	        "files": ["path"]
	    },
	    "city_activity": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "city_district": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "city_region": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "department_management": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt",
	        "files": ["path"]
	    },
	    "long_life_activity": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "long_life_activity_category": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt",
	        "files": ["icon_path","image_path"]
	    },
	    "long_life_activity_photo": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt",
	        "files": ["path"]
	    },
	    "screen_file": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt",
	        "files": ["link_file"]
	    },
	    "screen_saver": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "service": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt",
	        "files": ["path"]
	    },
	    "service_category": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt",
	        "files": ["icon_path","image_path"]
	    },
	    "service_chargeable_type": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "service_chargeable_type_to_service": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "service_location_type": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "service_to_agency": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "service_tree": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "service_type": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    },
	    "visitor": {
	        "query_params": {
	            "fields": "*"
	        },
	        "service": "infomat_qt"
	    }
	}
}
 
